body {
    background-color: #CDC6AE;
    font-family: 'Poppins', sans-serif;
    color: #38686A;
}

#part-1 {
    width: 1000px;
    margin: auto;
}

#navbar {
    padding: 20px;
    font-size: 20px;
}

#part-1 hr {
    margin-top: 20px;
    border-top: 1px solid #38686A;
}

#logo {
    float: left;
    letter-spacing: 0.75px;
    text-shadow: 1px 1px #2589bd;
}

#navmenu {
    float: right;
}

#navbar a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: #38686A;
}

#navmenu a:hover {
    background-color: #A3B4A2;
    border-radius: 5px;
}

#intro-content {
    margin-top: 30px;
    padding: 40px 20px 10px 20px;
    text-align: center;
    display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #intro-text {
        margin-right: 30px;
        width: 400px;
    }
    
    #intro-text a {
        color: #38686A;
    }
    
    #intro-picture img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
}

#part-2 {
    width: 1000px;
    margin: auto;
}

#part-3 {
    width: 1000px;
    margin: auto;
}

#contact-buttons img {
    width: 20px;
    height: 20px;
}

#contact-buttons a:not(:last-child) {
    margin-right: 5px;
}
